/* Css Selector */
body {
  /* CSS Rule */
  background-color: white;
  color: rgb(0, 0, 0);
  margin: 0;
}

header {
  border-width: 10px;
  border-style: solid;
  border-color: black;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  list-style-type: none;
  padding: 0;
  gap: 20px;
  padding: 0px 10px 0px 0px;
  padding-inline: 10;
}

section {
  height: 100vh;
  background-color: lightblue;
}

.HomeSection {
  background-color: lightsalmon;
}

#AboutSection {
  background-color: lightgreen;
}

footer {
  display: flex;
  justify-content: center;
}