/* Css Selector */
body {
  /* CSS Rule */
  background-color: white;
  color: rgb(0, 0, 0);
  margin: 0;
}
header {
  margin-top: -20px;
}
.active {
  background-color: #7e7e7e;
}

li a {
  display: block;
  color: white;
  padding: 14px 40px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: black;
}

ul {
  font-size: 17px;
  background-color: #262626;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  gap: 0px;
  padding: 0px 40px 0px 0px;
  padding-inline: 10;
}

section {
  padding: 0px 0px 0px 0px;
  height: 0;
  background-color: white;
}

.TopSection {
  padding: 0px 0px 0px 5px;
  height: auto;
  width: 50vb;
  border-width: 8px;
  border-style: solid;
  border-color: black;
  background-color: rgb(255, 255, 255);
  box-shadow: 8px 8px darkslategrey;
  position: relative;
  font-size: large;
}

.MiddleSection {
  height: 50vh;
  width: 50vb;
  padding: 10px 0px 0px 5px;
  font-size: medium;
}

footer {
position: fixed;
text-align: center;
background-color: whitesmoke;
  padding: 0px 0px 5px 0px;
  bottom: 0;
  width: 100%;
  height: 50px;
}